.homeContentManagementWrapper {
  margin-top: var(--space-16);
}

.homeContentManagementLoadingWrapper {
  display: flex;
  justify-content: center;
}

.homeContentManagementErrorOrEmptyWrapper {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--cta-default);
}

.foodList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-16);
  padding: 0;
}

@media (min-width: 568px) {
  .foodList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px) {
  .foodList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .foodList{
    grid-template-columns: repeat(4, 1fr);
  }
}

.foodCard {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(var(--color-red-0));
  border-radius: var(--radius-4);
  padding: var(--space-8);
  height: 100%;
}

.foodCardImage {
  object-fit: cover;
  height: 200px;
  width: 100%;
  max-width: 100%;
}

.vitaminsList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-8) 0;
}

.vitaminsList > *:not(:last-child)::after {
  content: ',\00a0';
}

.foodCardConsumedButton {
  margin-top: auto;
}