.reportWrapper {
  margin-bottom: 110px;
}

.reportHeader {
  position: sticky;
  top: 0;
  background-color: var(--global-background);
  z-index: 1;
  padding-top: var(--app-top-gap);
  padding-bottom: 20px;
  margin-top: calc(var(--app-top-gap) * -1);
}

.vitaminCardWrapper {
  padding: 20px 0;
}
